//d5e5dd
$mainColor: #ffffff;
$darkMain: darken($mainColor, 30%);
$darker: darken($darkMain, 10%);
$darkest: darken($darkMain, 15%);

body{
  background: $mainColor;
  background-image: url("https://caym.us/drum-machine/img/batthern.png");
  font-size: 20px;
  min-height: 500px;
}

#mainDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.powerOff{
  visibility: hidden;
  opacity: 0;
  transition: visibility 1.5s, opacity 1.5s linear;
}

.powerOn{
  visibility: visible;
  opacity: 1;
  transition: visibility 1.5s, opacity 1.5s linear;
}

.btn{
  border: none;
  color: white;
  width: 8vmax;
  height: 4vmax;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3vmax;
  border-radius: 5px;
  &:hover{
    cursor: pointer;
  }
}

#toShow{
  position: fixed;
  h1{
    font-size: 3.5vmax;
    color: $darkest;
  }
  #initBtn{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    background-color: $darkest;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    transition: box-shadow .15s;
    
    &:hover{
      box-shadow: 1px 2px 2px 1px gray;
    }
    
    &:active{
    background-color: $darkest;
  }
  }
}




#toHide{
  position: fixed;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;

  #drum-machine{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #pads{
      background: $darkMain;
      border-style: solid;
      border-color: $darkest;
      border-width: thick;
      box-shadow: 1px 1px 2px 1px gray;
      height: 25vmax;
      width: 25vmax;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;

      #padBlock{
        width: 30%;
        min-height: 20%;
        max-height: 30%;
        text-align: center;
        border-radius: 6px;
        margin: 1%;
        box-shadow: 1px 1px 2px 1px gray;
        a{
          display: block;
          position: relative;
          bottom: -30%;
          font-size: 3vmax; 
          font-weight: bold;
          color: gray;
        }
        &:hover{  
          cursor: pointer;
        } 
      }
    }
    #display{
      button{
        background-color: $darkest;
        &:hover{
          transition-duration: .1s;
          box-shadow: 1px 1px 2px 1px gray;
        }
        &:active{
          transition-duration: 0s;
          background-color: darken($darkest, 10%);
        }
        margin: 5px;
      }
      #nameDiv{
        border-style: solid;
        border-color: $darkest;
        border-width: thick;
        box-shadow: 1px 1px 2px 1px gray;
        background: $mainColor;
        text-align: center;
        font-size: 1.75vmax;
        p{
            color: $darkest;
        }
      }
      margin: auto;
    }
  }
}

.inactive{
  background: $mainColor;
}
.active{
  background: $darker;
}

@media screen and (orientation: portrait){

    .btn{
        width: 12vmax;
        height: 6vmax;
        font-size: 2vmax;
    }
    #toHide{
        #drum-machine{
            flex-direction: column;
            height: 70%;

            #pads{
                height: 35vmax;
                width: 35vmax;

                #padBlock{
                    a{
                        bottom: -35%;
                    }
                }
            }

            #display{
                #nameDiv{
                    font-size: 2.5vmax;
                }
            }
        }

    }
}
