body {
  background: #ffffff;
  background-image: url("https://caym.us/drum-machine/img/batthern.png");
  font-size: 20px;
  min-height: 500px;
}

#mainDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

.powerOff {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 1.5s, opacity 1.5s linear;
  transition: visibility 1.5s, opacity 1.5s linear;
}

.powerOn {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 1.5s, opacity 1.5s linear;
  transition: visibility 1.5s, opacity 1.5s linear;
}

.btn {
  border: none;
  color: white;
  width: 8vmax;
  height: 4vmax;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3vmax;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

#toShow {
  position: fixed;
}

#toShow h1 {
  font-size: 3.5vmax;
  color: #8c8c8c;
}

#toShow #initBtn {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #8c8c8c;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow .15s;
  transition: -webkit-box-shadow .15s;
  transition: box-shadow .15s;
  transition: box-shadow .15s, -webkit-box-shadow .15s;
}

#toShow #initBtn:hover {
  -webkit-box-shadow: 1px 2px 2px 1px gray;
          box-shadow: 1px 2px 2px 1px gray;
}

#toShow #initBtn:active {
  background-color: #8c8c8c;
}

#toHide {
  position: fixed;
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#toHide #drum-machine {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#toHide #drum-machine #pads {
  background: #b3b3b3;
  border-style: solid;
  border-color: #8c8c8c;
  border-width: thick;
  -webkit-box-shadow: 1px 1px 2px 1px gray;
          box-shadow: 1px 1px 2px 1px gray;
  height: 25vmax;
  width: 25vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#toHide #drum-machine #pads #padBlock {
  width: 30%;
  min-height: 20%;
  max-height: 30%;
  text-align: center;
  border-radius: 6px;
  margin: 1%;
  -webkit-box-shadow: 1px 1px 2px 1px gray;
          box-shadow: 1px 1px 2px 1px gray;
}

#toHide #drum-machine #pads #padBlock a {
  display: block;
  position: relative;
  bottom: -30%;
  font-size: 3vmax;
  font-weight: bold;
  color: gray;
}

#toHide #drum-machine #pads #padBlock:hover {
  cursor: pointer;
}

#toHide #drum-machine #display {
  margin: auto;
}

#toHide #drum-machine #display button {
  background-color: #8c8c8c;
  margin: 5px;
}

#toHide #drum-machine #display button:hover {
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-box-shadow: 1px 1px 2px 1px gray;
          box-shadow: 1px 1px 2px 1px gray;
}

#toHide #drum-machine #display button:active {
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  background-color: #737373;
}

#toHide #drum-machine #display #nameDiv {
  border-style: solid;
  border-color: #8c8c8c;
  border-width: thick;
  -webkit-box-shadow: 1px 1px 2px 1px gray;
          box-shadow: 1px 1px 2px 1px gray;
  background: #ffffff;
  text-align: center;
  font-size: 1.75vmax;
}

#toHide #drum-machine #display #nameDiv p {
  color: #8c8c8c;
}

.inactive {
  background: #ffffff;
}

.active {
  background: #999999;
}

@media screen and (orientation: portrait) {
  .btn {
    width: 12vmax;
    height: 6vmax;
    font-size: 2vmax;
  }
  #toHide #drum-machine {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 70%;
  }
  #toHide #drum-machine #pads {
    height: 35vmax;
    width: 35vmax;
  }
  #toHide #drum-machine #pads #padBlock a {
    bottom: -35%;
  }
  #toHide #drum-machine #display #nameDiv {
    font-size: 2.5vmax;
  }
}
/*# sourceMappingURL=styles.css.map */